# CMake
cmake-build-*/

# File-based project format
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Ansible template
*.retry

### Packer template
# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

